/* ------------------------------course start---------------------------- */
*{
    background-color: aquamarine;
}
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    background-color: #f5deb3;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding-top: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}.course-col{
    flex-basis: 30%;
    background: #f5deb3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    background-color: #f5deb3;
}
.course-col:hover{
   box-shadow: 0 0 20px 0px rgb(0,0, 0,0.5);
}
/* ---------------------------campus start--------------------------------------- */

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{ 
    background: rgba(31, 27, 126, 0.7);
}
.layer h3{
    font-weight: 500;
    width: 100%;
    color: #080808;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}